body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
    font-family: Arimo;
    --day-background-color: rgb(0, 153, 204);
    --night-background-color: rgb(0, 75, 102);
    --celsius-color: rgb(255, 51, 51);
    --fahrenheit-color: rgb(51, 204, 204);
    background-color: var(--day-background-color);
}

#location-form {
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 800px;
    display: flex;
    padding: 20px 50px;
    color: white;
}

#location {
    margin-left: 5px;
}

.search-location {
    font-weight: 500;
    margin-left: 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.temperature-type {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

#celsius {
    padding: 5px 10px;
    font-size: 1.1rem;
    background-color: rgb(164, 30, 30);
    color: white;
    border: none;
}

#fahrenheit {
    font-size: 1.1rem;
    padding: 5px 10px;
    background-color: rgb(59, 122, 218);
    border: none;
    color: whitez;
}

.current-conditions {
    color: white;
    width: 600px;
    height: 350px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: 1.65rem;
    padding: 30px;
}

.current-location {
    grid-column: 1/-1;
    font-size: 1.5rem;
}

.hourly-weather-cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 180px);
    column-gap: 25px;
    row-gap: 20px;
    padding: 20px;
}

.hourly-card {
    padding: 20px 10px;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255, .8);
    border-radius: 20px;
}

/* Icons */

.current-weather-icon {
    width: 225px;
    height: 225px;
}

.card-icon {
    height: 60px;
    width: 60px;
    margin-bottom: 15px;
}

.card-precipitation {
    display: flex;
    gap: 5px;
}

.precipitation-icon {
    width: 20px;
    height: 20px;
}

/* Switch slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--fahrenheit-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--celsius-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--celsius-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}